*{
    margin: 0;
    padding: 0;
}
    

.cabecalho {
    background-color: #238E21;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    
}

.imagemCabecalho {
width: 20%;
}

.cabecalhoListaItem{
    display: inline-block;
    margin: 0 20px;
    padding: 23px 0;
    font-size: 24px;
}

.CRTE-imagem {
    width: 30%;
}

.CRTE {
    background-image: linear-gradient(#238E21, #153b83);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.CRTE-div-conteudo {
    width: 35%;
}

.CRTE-titulo{
    padding: 10px 0;
}

.CRTE-texto-um {
    padding: 24px 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.imagem-colaborador{
    width: 120px;
}

.colaborador-icone{
    width: 24px;
}

.colaborador-div {
    text-align: center;
}

.profissionais-titulo {
    text-align: center;
    padding: 50px 0;
}

.profissionais-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodapé {
    background-color: black;
    text-align: center;
}